/*Media queries*/

/* Tablets */

@media (max-width: 768px){
    header .header-filter{
        flex-wrap: wrap;
        justify-content: center;
    }
    header .header-filter p{
        width: 100%;
        text-align: center;
    }
    header nav{
        display: none;
    }
    main .articulo ul li.description{
        display: none;
    }
    main .articulo{
       width: 45%;
    }
    .register-main .interests{
        flex-direction: column;
    }
}

/* Desktop */

@media (min-width: 769px){
    header .header-filter{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    header nav{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
    header nav ul{
        display: flex;
    }
    header nav ul li{
        padding: 0 10px;
    }
    main .articulo{
        width: 22%;
        box-shadow: none;
    }
    main .articulo:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    header .burger-menu{
        display: none;
    }

    main .articulo:hover ul li.description{
        display: block;
    }
}

